{% extends "fashion/base.html" %}
{% load static %}
{% block navpage %}
<li><a style="font-size: 27px; color:beige; font-weight: bolder; text-shadow: 0 0 8px black" class="nav-link"
        href="#">Create Order</a>
</li>
<li><a class="nav-link" href="#">Pending Orders</a></li>
<li><a class="nav-link" href="#">Pending Delivery</a></li>
<li><a class="nav-link" href="#">My Customers</a></li>
{% endblock navpage %}


{% block page %}
<link rel="stylesheet" href="{% static 'fashon/css/create_order.css' %}">

<div style="margin-top: 12px; height: 850px; background-color: lavender;" class="container">

    <!-- CREATE ORDER STARTS HERE -->
    <h2 style="font-family:Georgia ; font-weight: bolder; padding-top: 15px;">CREATE ORDER</h2>
    <hr style="width: 60%; height: 3px; color: forestgreen;">

    <!-- ============================================== USER DETAILS STARTS HERE ==============================================-->
    <div>
        <h2><button style="font-family:auto; height: 50px;background: rgb(82, 0, 16);
            border: 0;
            color: whitesmoke;
            transition: 0.4s;
            border-radius: 10px; padding: 0 40px 0 40px;">&nbsp;&nbsp;Customer Details &nbsp;&nbsp;</button>
            <div class="child3 all-arrow-down active" style="margin-left: 10px;" id="userArrow"
                onclick="this.classList.toggle('active');  showHideUser();"></div>
        </h2>

        <div class="container" id="userDetails" style="width: 1320px;">
            <!-- CONTAINER LEFT ITEMS -->
            <div style="width: 50%; float: left;">
                <div style="margin: 0 15px 0 15px; width: 90%;">
                    <!-- CUSTOMER NAME FIELD -->
                    <div class="input-group" style="height: 50px;">
                        <span class="input-group-text" id="basic-addon1">👨‍💼</span>
                        <input type="text" style="font-size: 20px;" class="form-control" id="name"
                            placeholder="Enter Customer Name Here" aria-describedby="basic-addon1">
                    </div>

                    <!-- DELIEVERY DATE FIELD -->
                    <div class="input-group datepicker" style="margin-top: 20px; height: 47px;">
                        <span class="input-group-text" id="basic-addon1">📅</span>
                        <input type="text" style="width: 525px; font-size: 20px;" id="date" name="date"
                            placeholder=" Enter Final Delivery Date here">
                    </div>
                </div>
            </div>

            <!-- CONTAINER RIGHT ITEMS -->
            <div style="margin-left: 50%; margin-bottom: 40px; height: 100px; width: 45%;">
                <!-- CUSTOMER PHONENUMBER FIELD -->
                <div class="input-group" style="height: 50px; margin-top: 20px;">
                    <span class="input-group-text" id="basic-addon1">📞</span>
                    <input type="tel" style="font-size: 21px;" class="form-control" id="phone"
                        placeholder="Enter Customer Phonenumber here" aria-describedby="basic-addon1">
                </div>

                <!-- CUSTOMER ADVANCE FIELD -->
                <div class="input-group" style="height: 50px; margin-top: 20px;">
                    <span class="input-group-text" id="basic-addon1">💸</span>
                    <input type="number" style="font-size: 21px;" class="form-control" id="advance"
                        placeholder="ADVANCE Paid here Eg: 1000" aria-describedby="basic-addon1">
                </div>
            </div>
            <!-- CONTAINER RIGHT ITEMS ENDS -->
        </div>

    </div>
<!-- ============================================== USER DETAILS ENDS HERE ==============================================-->


<!-- ============================================== TOP DETAILS STARTS HERE ==============================================-->
    <div>
        <h2 style="margin: 20px 0 0 1px;"><button style="font-family:auto; height: 50px;background: rgb(82, 0, 16);
    border: 0;
    color: whitesmoke;
    transition: 0.4s;
    border-radius: 10px; padding: 0 40px 0 40px;">&nbsp;&nbsp;Top Details &nbsp;&nbsp;</button>
            <div class="child3 all-arrow-down" style="margin-left: 10px;" id="topArrow"
                onclick="this.classList.toggle('active');  showHideTop();"></div>
            </h2>
            <!-- DIV HIDE ON TOGGLE BUTTON -->
            <div id="topGrandParent" style="display: none;">
                <h2>
            <!-- ALWAYS SAME ITEMS (NO OPTIONS AVAILABLE) -->
            <div id="parent" class="container" style="font-family:sans-serif;">
                <div class="child"><span>Chest 1:</span>
                    <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="chest1" name="chest1">
                </div>
                <div class="child"><span>Chest 2:</span>
                    <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="chest2" name="chest2">
                </div>
                <div class="child"><span>Shoulder:</span>
                    <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="shoulder"
                        name="shoulder">
                </div>
                <div class="child" style="padding-left: 0px;"><span>Heap Round:</span>
                    <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="top_hround"
                        name="top_hround">
                </div>
            </h2>
        <!-- HAVE DIFFERENT OPTIONS HEADING(OPTIONS AVAILABLE) -->
        <h3>
            <div id="parent2" class="container" style="font-family:sans-serif; margin-bottom: -12px;">
                <div class="child2"><button class="shrink-border">Arm Hole</button>
                </div>
                <div class="child2" style="margin: 0 -14px 0 30px;"><button class="shrink-border">Waist</button>
                </div>
                <div class="child2" style="margin: 0 -1px 0 0;"><button class="shrink-border">Length</button>
                </div>
                <div class="child2" style="margin-right: 17px;"><button class="shrink-border">Sleeve-L</button>
                </div>
                <div class="child2"><button class="shrink-border">Sleeve-R</button>
                </div>
                <div class="child2" style="margin: 0 -3px 0 11px;"><button class="shrink-border">Neck-F</button>
                </div>
                <div class="child2"><button class="shrink-border">Neck-B</button>
                </div>
                <div class="child2 arrow-down" style="margin-left: 80px;" id="arrow"
                    onclick="this.classList.toggle('active');  showHideInsert();"></div>
            </div>

            <!-- All Options Input div () -->
            <div id="insertOption" style="display: none">
                <!--KURTI VALUE INPUT TAG -->
                <div id="insertParent">
                    <div class="kurtiChild">
                        <h2>Kurti</h2>
                    </div>
                    <div class="kurtiChild" style="margin: 0 -20px 0 34px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="kurtiChild" style="margin: 0 -9px 0 22px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="kurtiChild" style="margin: 0 -1px 0 0;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="kurtiChild" style="margin-right: 7px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="kurtiChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                    <div class="kurtiChild" style="margin: 0 -10px 0 4px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="kurtiChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                </div>

                <!--GOWN VALUE INPUT TAG -->
                <div id="insertParent">
                    <div class="gownChild">
                        <h2>Gown</h2>
                    </div>
                    <div class="gownChild" style="margin: 0 -20px 0 34px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="gownChild" style="margin: 0 -9px 0 22px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="gownChild" style="margin: 0 -1px 0 0;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="gownChild" style="margin-right: 7px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="gownChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                    <div class="gownChild" style="margin: 0 -10px 0 4px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="gownChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                </div>

                <!--BLOUSE VALUE INPUT TAG -->
                <div id="insertParent">
                    <div class="blouseChild">
                        <h2>Blouse</h2>
                    </div>
                    <div class="blouseChild" style="margin: 0 -20px 0 34px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="blouseChild" style="margin: 0 -9px 0 22px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="blouseChild" style="margin: 0 -1px 0 0;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="blouseChild" style="margin-right: 7px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="blouseChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                    <div class="blouseChild" style="margin: 0 -10px 0 4px;"><input
                            style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                            name="armHole">
                    </div>
                    <div class="blouseChild"><input style="width: 70px; height: 34px; font-size: 30px;" type="number"
                            id="armHole" name="armHole">
                    </div>
                </div>

            </div>

        </h3>
    </div>
    </div>
<!-- ============================================== TOP DETAILS ENDS HERE ==============================================-->


<!-- ============================================== BOTTOM DETAILS STARTS HERE ==============================================-->
<div>
    <h2 style="margin: 20px 0 0 1px;"><button style="font-family:auto; height: 50px;background: rgb(82, 0, 16);
border: 0;
color: whitesmoke;
transition: 0.4s;
border-radius: 10px; padding: 0 40px 0 40px;">&nbsp;&nbsp;Bottom Details &nbsp;&nbsp;</button>
        <div class="child3 all-arrow-down" style="margin-left: 10px;" id="topArrow"
            onclick="this.classList.toggle('active');  showHideBottom();"></div>
        </h2>
        <!-- DIV HIDE ON TOGGLE BUTTON -->
        <div id="bottomGrandParent">
            <h2>
        <!-- ALWAYS SAME ITEMS (NO OPTIONS AVAILABLE) -->
        <div id="parent" class="container" style="font-family:sans-serif;">
            <div class="child" style="padding-left: 200px;"><span>Bottom Waist:</span>
                <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="waist" name="waist">
            </div>
            <div class="child" style="margin-left: 400px;"><span>Heap Round:</span>
                <input style="width: 90px; height: 34px; font-size: 30px;" type="number" id="bottom_hround"
                    name="bottom_hround">
            </div>
        </h2>
    <!-- HAVE DIFFERENT OPTIONS HEADING(OPTIONS AVAILABLE) -->
    <h3>
        <div id="parent2" class="container" style="font-family:sans-serif; margin-bottom: -12px;">
            <div class="child2"><button style="padding: 11px 52px;" class="shrink-border">Mori</button>
            </div>
            <div class="child2" style="margin: 0 -9px 0 22px;"><button style="padding: 11px 52px;" class="shrink-border">Length</button>
            </div>
            <div class="child2 arrow-down" style="margin-left: 80px;" id="arrow"
                onclick="this.classList.toggle('active');  showHideInsert();"></div>
        </div>

        <!-- All Options Input div () -->
        <div id="insertOption" style="display: block">
            <!--KURTI VALUE INPUT TAG -->
            <div id="insertParent">
                <div class="kurtiChild">
                    <h2>Kurti</h2>
                </div>
                <div class="kurtiChild" style="margin: 0 -20px 0 34px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
                <div class="kurtiChild" style="margin: 0 -9px 0 22px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
            </div>

            <!--GOWN VALUE INPUT TAG -->
            <div id="insertParent">
                <div class="gownChild">
                    <h2>Gown</h2>
                </div>
                <div class="gownChild" style="margin: 0 -20px 0 34px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
                <div class="gownChild" style="margin: 0 -9px 0 22px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
            </div>

            <!--BLOUSE VALUE INPUT TAG -->
            <div id="insertParent">
                <div class="blouseChild">
                    <h2>Blouse</h2>
                </div>
                <div class="blouseChild" style="margin: 0 -20px 0 34px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
                <div class="blouseChild" style="margin: 0 -9px 0 22px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>

            </div>

            <!--BLOUSE VALUE INPUT TAG -->
            <div id="insertParent">
                <div class="blouseChild">
                    <h2>Blouse</h2>
                </div>
                <div class="blouseChild" style="margin: 0 -20px 0 34px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>
                <div class="blouseChild" style="margin: 0 -9px 0 22px;"><input
                        style="width: 70px; height: 34px; font-size: 30px;" type="number" id="armHole"
                        name="armHole">
                </div>

            </div>

    </h3>
</div>
</div>

<!-- ============================================== BOTTOM DETAILS ENDS HERE ==============================================-->


</div>


<!-- DATE PICKER IN JQUERY -->
<link href="https://code.jquery.com/ui/1.13.2/themes/pepper-grinder/jquery-ui.css" rel="stylesheet" />

<script rel="preload" src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

<script src="{% static 'fashon/js/create_order.js' %}"></script>
<!-- ENDS JQUERY -->
{% endblock page %}