{% extends "fashion/low_base.html" %}
{% load static %}
{% block navpage %}
<li><a class="nav-link" href="{% url 'customerTypeUrl' %}">Create Order</a></li>
<li><a class="nav-link" href="{% url 'pendingOrderView' %}">Pending Orders</a></li>
<li><a class="nav-link" href="#">Pending Delivery</a></li>
<li><a class="nav-link" href="{% url 'Customers' %}">My Customers</a></li>
{% endblock navpage %}

{% block page %}
<link rel="stylesheet" href="{% static 'fashon/css/detailsEdit.css' %}">
<div id="customerDetails" class="container">
<!--========================================================= CUSTOMER DETAILS STARTS=========================================================================== -->
    <div class="col-md-12">
        <div class="card mb">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Customer Name:</h5>
              </div>
              <div class="col-sm-9 text">
                <input type="text" id="userName" style="border: double; background-color: beige;" value="{{user.userName}}">
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Mobile:</h5>
              </div>
              <div class="col-sm-9 text">
                <input type="number" id="userPhone" style="border: double;  background-color: beige;" value="{{user.userPhone}}">
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Delivery Date:</h5>
              </div>
              <div class="col-sm-9 text">
                <div class="input-group datepicker">
                    <input type="text"id="userDeliveryDate" style="border: double;  background-color: beige;" name="date" value="{{user.userDeliveryDate}}">
                </div>
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Advance:</h5>
              </div>
              <div class="col-sm-9 text">
                    <input type="number" id="userAdvance" style="border: double;  background-color: beige; 
                    margin-bottom: 5px;" value="{{user.userAdvance}}">
              </div>
            </div>
        </div> 
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center"><img class="rounded-circle" style="width: 150px; height: 150px;" src="{% static 'fashon/img/lady.jpg' %}">
            </div>
            <hr style="margin: 10px 0;">
              <div class="col-sm-12">
                <button class="btn btn-success" style="width: 157px; height: 51px; margin-bottom: 0px; font-weight: bold;" target="__blank" id="save" onclick="postitem()">Save</button>
                <button class="btn btn-warning" style="width: 157px; height: 51px; margin: 0px 5px 0 0px; font-weight: bold;" target="__blank" onclick="postitem('print')" id="print">Print</button> 
              </div>
        </div>
    </div> 

<!--========================================================= CUSTOMER DETAILS ENDS=========================================================================== -->

<!-- =========================================================TOP DETAILS STARTS =========================================================-->
<div class="card mb" style="margin-top: 8px;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="mb-0">Top Clothing Details:</h4>
      </div>
    </div>
    <hr style="margin: 11px">
     
<!-- Separation 1 -->
<div class="row">
  <div class="col-sm-12" style="display: contents;">    
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">CHEST 1:</button>
        <input type="number" id="topChest1" value="{{top.chest1}}">
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button id="button1"  class="shrink-border">CHEST 2:</button>
        <input type="number" id="topChest2" value="{{top.chest2}}">
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">SHOULDER:</button>
        <input type="number" id="topShoulder" value="{{top.shoulder}}">
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">HEAP ROUND:</button>
        <input type="number" id="topHeapRound" value="{{top.topheapRound}}">
      </div>
    </div>
  </div>
</div>
<!-- Separation 1 ends -->

<!-- Separation 2 STARTS -->
<div class="row">
  <div class="col-sm-12">
    
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Arm Hole</th>
      <th scope="col">Waist</th>
      <th scope="col">Length</th>
      <th scope="col">Sleeve-L</th>
      <th scope="col">Sleeve-R</th>
      <th scope="col">Neck-F</th>
      <th scope="col">Neck-B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kurti</th>
      <td><input type="number" id="topKurtiArmHole" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiArmHole}}"></td>
      <td><input type="number" id="topKurtiWaist" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiWaist}}"></td>
      <td><input type="number" id="topKurtiLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiLength}}"></td>
      <td><input type="number" id="topKurtiSleeveL" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiSleeveL}}"></td>
      <td><input type="number" id="topKurtiSleeveR" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiSleeveR}}"></td>
      <td><input type="number" id="topKurtiNeckF" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiNeckF}}"></td>
      <td><input type="number" id="topKurtiNeckB" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topKurtiNeckB}}"></td>
    </tr>
    <tr>
      <th scope="row">Gown</th>
      <td><input type="number" id="topGownArmHole" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownArmHole}}"></td>
      <td><input type="number" id="topGownWaist" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownWaist}}"></td>
      <td><input type="number" id="topGownLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownLength}}"></td>
      <td><input type="number" id="topGownSleeveL" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownSleeveL}}"></td>
      <td><input type="number" id="topGownSleeveR" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownSleeveR}}"></td>
      <td><input type="number" id="topGownNeckF" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownNeckF}}"></td>
      <td><input type="number" id="topGownNeckB" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topGownNeckB}}"></td>
    </tr>
    <tr>
      <th scope="row">Blouse</th>
      <td><input type="number" id="topBlouseArmHole" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseArmHole}}"></td>
      <td><input type="number" id="topBlouseWaist" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseWaist}}"></td>
      <td><input type="number" id="topBlouseLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseLength}}"></td>
      <td><input type="number" id="topBlouseSleeveL" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseSleeveL}}"></td>
      <td><input type="number" id="topBlouseSleeveR" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseSleeveR}}"></td>
      <td><input type="number" id="topBlouseNeckF" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseNeckF}}"></td>
      <td><input type="number" id="topBlouseNeckB" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{top.topBlouseNeckB}}"></td>
    </tr>
  </tbody>
</table>
  </div>
</div> 
<!-- Separation 2 ENDS -->
</div>
</div>
<!-- =========================================================TOP DETAILS ENDS=========================================================-->


<!-- =========================================================BOTTOM DETAILS STARTS =========================================================-->
<div class="card mb" style="margin-top: 8px;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="mb-0">Bottom Clothing Details:</h4>
      </div>
    </div>
    <hr style="margin: 11px">
     
<!-- Separation 1 -->
<div class="row">
  <div class="col-sm-12" style="display: contents;">    
    <div id="parent2" class="col-sm-4" style="font-family:sans-serif; margin-bottom: 12px; margin-left: 172px;">
      <div class="child2"><button  id="button1" class="shrink-border">Bottom Waist:</button>
        <input type="number" id="bottomWaist" value="{{bottom.bottomWaist}}">
      </div>
    </div>
    <div id="parent2" class="col-sm-4" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button id="button1"  class="shrink-border">Bottom Heap Round:</button>
        <input type="number" id="bottom_hround" value="{{bottom.bottomHeapRound}}">
      </div>
    </div>
  </div>
</div>
<!-- Separation 1 ends -->

<!-- Separation 2 STARTS -->
<div class="row">
  <div class="col-sm-12">
    
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mori</th>
      <th scope="col">Length</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Salwar</th>
      <td><input type="number" id="bottomSalwarMori" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomSalwarMori}}"></td>
      <td><input type="number" id="bottomSalwarLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomSalwarLength}}"></td>
    </tr>
    <tr>
      <th scope="row">Pant</th>
      <td><input type="number" id="bottomPantMori" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomPantMori}}"></td>
      <td><input type="number" id="bottomPantLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomPantLength}}"></td>
    </tr>
    <tr>
      <th scope="row">Plazo</th>
      <td><input type="number" id="bottomPlazoMori" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomPlazoMori}}"></td>
      <td><input type="number" id="bottomPlazoLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomPlazoLength}}"></td>
    </tr>
    <tr>
      <th scope="row">Chaniya</th>
      <td><input type="number" id="bottomChaniyaMori" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomChaniyaMori}}"></td>
      <td><input type="number" id="bottomChaniyaLength" style="width: 50px; font-weight: bold; font-size: 20px;" value="{{bottom.bottomChaniyaLength}}"></td>
    </tr>
  </tbody>
</table>
  </div>
</div> 
<!-- Separation 2 ENDS -->
<!-- =========================================================BOTTOM DETAILS ENDS=========================================================-->
<!-- DATE PICKER IN JQUERY -->
<link href="https://code.jquery.com/ui/1.13.2/themes/pepper-grinder/jquery-ui.css" rel="stylesheet" />
<script rel="preload" src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
<script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var options = {
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>

<script src="{% static 'fashon/js/detailsEdit.js' %}"></script>
{% endblock page %}