{% extends "fashion/low_base.html" %}
{% load static %}
{% block navpage %}
<li><a class="nav-link" href="{% url 'customerTypeUrl' %}">Create Order</a></li>
<li><a class="nav-link" href="#">Pending Orders</a></li>
<li><a class="nav-link" href="#">Pending Delivery</a></li>
<li><a class="nav-link" href="{% url 'Customers' %}">My Customers</a></li>
{% endblock navpage %}


{% block page %}
<link rel="stylesheet" href="{% static 'fashon/css/details.css' %}">
<div id="customerDetails" class="container">
<!--========================================================= CUSTOMER DETAILS STARTS=========================================================================== -->
    <div class="col-md-12">
        <div class="card mb">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h5 class="mb-0">Customer Name:</h5>
              </div>
              <div class="col-sm-9 text">
                {{user.userName}}
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Mobile:</h5>
              </div>
              <div class="col-sm-9 text">
                {{user.userPhone}}
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Delivery Date:</h5>
              </div>
              <div class="col-sm-9 text">
                {{user.userDeliveryDate}}
              </div>
            </div>
            <hr style="margin: 11px 0;">
            <div class="row">
              <div class="col-sm-3 ">
                <h5 class="mb-0">Advance:</h5>
              </div>
              <div class="col-sm-9 text">
                {{user.userAdvance}}
              </div>
            </div>
        </div> 
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center"><img class="rounded-circle" style="width: 150px; height: 150px;" src="{% static 'fashon/img/lady.jpg' %}">
            </div>
            <hr style="margin: 10px 0;">
              <div class="col-sm-12">
                <button class="btn btn-info " style="width: 100px; margin-bottom: 10px;" target="__blank" id="edit">Edit</button>
                <button class="btn btn-danger" style="width: 100px; margin: -10px 0 0 5px;" id="delete" data-fid="@item.ForkliftID" data-toggle="modal" data-target="#DeleteConfirmationModal">Delete</button>
                <button class="btn btn-warning" style="width: 100px; margin: -10px 0 0 5px;" target="__blank"  onclick="window.print()" id="print">Print</button> 
              </div>
        </div>
    </div> 

<!--========================================================= CUSTOMER DETAILS ENDS=========================================================================== -->

<!-- =========================================================TOP DETAILS STARTS =========================================================-->
<div class="card mb" style="margin-top: 8px;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="mb-0">Top Clothing Details:</h4>
      </div>
    </div>
    <hr style="margin: 11px; margin-left: 0px;">
     
<!-- Separation 1 -->
<div class="row">
  <div class="col-sm-12" style="display: contents;">    
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">CHEST 1:</button>
        <button>{{top.chest1}} inch</button>
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button id="button1"  class="shrink-border">CHEST 2:</button>
        <button>{{top.chest2}} inch</button>
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">SHOULDER:</button>
        <button>{{top.shoulder}} inch</button>
      </div>
    </div>
    <div id="parent2" class="col-sm-3" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button  id="button1" class="shrink-border">HEAP ROUND:</button>
        <button>{{top.topheapRound}} inch</button>
      </div>
    </div>
  </div>
</div>
<!-- Separation 1 ends -->

<!-- Separation 2 STARTS -->
<div class="row">
  <div class="col-sm-12">
    
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Arm Hole</th>
      <th scope="col">Waist</th>
      <th scope="col">Length</th>
      <th scope="col">Sleeve-L</th>
      <th scope="col">Sleeve-R</th>
      <th scope="col">Neck-F</th>
      <th scope="col">Neck-B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kurti</th>
      <td>{{top.topKurtiArmHole}} inch</td>
      <td>{{top.topKurtiWaist}} inch</td>
      <td>{{top.topKurtiLength}} inch</td>
      <td>{{top.topKurtiSleeveL}} inch</td>
      <td>{{top.topKurtiSleeveR}} inch</td>
      <td>{{top.topKurtiNeckF}} inch</td>
      <td>{{top.topKurtiNeckB}} inch</td>
    </tr>
    <tr>
      <th scope="row">Gown</th>
      <td>{{top.topGownArmHole}} inch</td>
      <td>{{top.topGownWaist}} inch</td>
      <td>{{top.topGownLength}} inch</td>
      <td>{{top.topGownSleeveL}} inch</td>
      <td>{{top.topGownSleeveR}} inch</td>
      <td>{{top.topGownNeckF}} inch</td>
      <td>{{top.topGownNeckB}} inch</td>
    </tr>
    <tr>
      <th scope="row">Blouse</th>
      <td>{{top.topBlouseArmHole}} inch</td>
      <td>{{top.topBlouseWaist}} inch</td>
      <td>{{top.topBlouseLength}} inch</td>
      <td>{{top.topBlouseSleeveL}} inch</td>
      <td>{{top.topBlouseSleeveR}} inch</td>
      <td>{{top.topBlouseNeckF}} inch</td>
      <td>{{top.topBlouseNeckB}} inch</td>
    </tr>
  </tbody>
</table>
  </div>
</div> 
<!-- Separation 2 ENDS -->
</div>
</div>
<!-- =========================================================TOP DETAILS ENDS=========================================================-->



<!-- =========================================================BOTTOM DETAILS STARTS =========================================================-->
<div class="card mb" style="margin-top: 8px;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="mb-0">Bottom Clothing Details:</h4>
      </div>
    </div>
    <hr style="margin: 11px; margin-left: 0px;">
     
<!-- Separation 1 -->
<div class="row">
  <div class="col-sm-12" style="display: contents;">    
    <div id="parent2" class="col-sm-4" style="font-family:sans-serif; margin-bottom: 12px; margin-left: 172px;">
      <div class="child2"><button  id="button1" class="shrink-border">Bottom Waist:</button>
        <button>{{bottom.bottomWaist}} inch</button>
      </div>
    </div>
    <div id="parent2" class="col-sm-4" style="font-family:sans-serif; margin-bottom: 12px;">
      <div class="child2"><button id="button1"  class="shrink-border">Bottom Heap Round:</button>
        <button>{{bottom.bottomHeapRound}} inch</button>
      </div>
    </div>
  </div>
</div>
<!-- Separation 1 ends -->

<!-- Separation 2 STARTS -->
<div class="row">
  <div class="col-sm-12">
    
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mori</th>
      <th scope="col">Length</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Salwar</th>
      <td>{{bottom.bottomSalwarMori}} inch</td>
      <td>{{bottom.bottomSalwarLength}} inch</td>
    </tr>
    <tr>
      <th scope="row">Pant</th>
      <td>{{bottom.bottomPantMori}} inch</td>
      <td>{{bottom.bottomPantLength}} inch</td>
    </tr>
    <tr>
      <th scope="row">Plazo</th>
      <td>{{bottom.bottomPlazoMori}} inch</td>
      <td>{{bottom.bottomPlazoLength}} inch</td>
    </tr>
    <tr>
      <th scope="row">Chaniya</th>
      <td>{{bottom.bottomChaniyaMori}} inch</td>
      <td>{{bottom.bottomChaniyaLength}} inch</td>
    </tr>
  </tbody>
</table>
  </div>
</div> 
<!-- Separation 2 ENDS -->
<!-- =========================================================BOTTOM DETAILS ENDS=========================================================-->


<!-- Modal -->
<div class="modal fade" id="DeleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete "{{user.userName}}" Details</h5>
        <button id="cross" style="background-color:black; color:whitesmoke" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this item?
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="delete-confirm" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  let edit = document.getElementById("edit");
  edit.addEventListener('click',(e)=>{
    link = window.location.href.toString()
    let splitURL=link.toString().split("/");
    id = splitURL[splitURL.length -2]
    window.location.href = '/details_edit/' + id
  })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        // handler for the trash button
        $(".btn.btn-danger").click(function (e) {

            e.stopPropagation()
            let target = $(this).data('target')
            let forkliftId = $(this).data('fid')
            // update the forklift to delete in the hidden field
            $('#forklift-Id').val(forkliftId)
            $(target).modal('show')
        })

        // handler for the delete confirmation on the modal
        $('#delete-confirm').click(function () {
            $('#delete-forklift-form').submit()
        })
    })

    let cross = document.getElementById('cross');
    cross.addEventListener('click',()=>{
      $('#DeleteConfirmationModal').modal('toggle');
    })

    let close = document.getElementById('close');
    close.addEventListener('click',()=>{
      $('#DeleteConfirmationModal').modal('toggle');
    })

    let deleteItem = document.getElementById('delete-confirm');
    deleteItem.addEventListener('click',()=>{
      link = window.location.href.toString()
      let splitURL=link.toString().split("/");
      id = splitURL[splitURL.length -2]
      $.ajax({
            url: "/delete/",
            method : 'GET',
            data: id,
            success: function(resp){
                if (resp === 'success'){
                    window.location.href = "/home/"
                }
            }
        });
    })
</script>


<script>
  var body = document.getElementsByTagName("body")[0];
  link = window.location.href.toString()
  let splitURL=link.toString().split("/");
  if(splitURL.includes('p')){
    window.onload = function(){
    setTimeout(function(){
      { window.print(); }
      }, 1000);
    };
  };
</script>
{% endblock page %}
