body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color:black;
    position: relative;
    background: transparent;
  }
  
  body::before {
    content: "";
    position: fixed;
    background: white url("../img/bg.jpg") top right no-repeat;
    background-position: initial; 
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
#customerDetails{
    color: black;
    margin-top: 8px;
}

#customerDetails p{
    display: inline-block;
    font-size: 50px;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    /* min-width: 0; */
    /* word-wrap: break-word; */
    background-color: #fff;
    /* background-clip: border-box; */
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 17px 19px 0;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.mb-9, .text{
    font-size: 20px;
    color: brown;
    font-weight: 600;
} 

#parent2 #button1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    }
    
#parent2 #button1 {
position: relative;
border: 1px solid;
color: #1a202c;
font-size: 20px;
background-color:bisque ;
outline: none;
/* border-radius: 23px; */
margin-left: 30px;
padding: 3px 10px;
/* border: 3px solid transparent; */
}


#parent2 button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    }
    
#parent2 button {
position: relative;
border: 1px solid;
font-size: 20px;
color: whitesmoke;
background-color:black ;
outline: none;
/* border-radius: 23px; */
padding: 3px 10px;
/* border: 3px solid transparent; */
}


#parent2 input{
    background-color: black;
    color: whitesmoke;
    width: 74px;
    height: 36px;
    font-size: 25px;
    padding: 2px 0 5px 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}